<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="generator.entity.User">
            <id property="id" column="id" />
            <result property="username" column="username" />
            <result property="password" column="password" />
            <result property="real_name" column="real_name" />
            <result property="phone" column="phone" />
            <result property="email" column="email" />
            <result property="city" column="city" />
            <result property="gender" column="gender" />
            <result property="bank_account" column="bank_account" />
            <result property="avatar" column="avatar" />
            <result property="role" column="role" />
            <result property="status" column="status" />
            <result property="create_time" column="create_time" />
            <result property="update_time" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,username,password,real_name,phone,email,
        city,gender,bank_account,avatar,role,
        status,create_time,update_time
    </sql>
</mapper>
