<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.WalletMapper">

    <resultMap id="BaseResultMap" type="generator.entity.Wallet">
            <id property="id" column="id" />
            <result property="user_id" column="user_id" />
            <result property="balance" column="balance" />
            <result property="created_at" column="created_at" />
            <result property="updated_at" column="updated_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,balance,created_at,updated_at
    </sql>
</mapper>
